<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshore.project.springbootdemo.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eshore.project.springbootdemo.entity.User">
        <id column="id" property="id" />
        <result column="username" property="userName" />
        <result column="password" property="passWord" />
        <result column="pattern_lock" property="patternLock" />
    </resultMap>

    <select id="getUsers" resultMap="BaseResultMap">
        select * from tb_user
    </select>

</mapper>
